main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

section {
    flex: 1;
    width: 100%;
    text-align: center;
    justify-content: center;
}

section:nth-child(2) {
    flex: 6;
}

@media (max-height: 615px) {
    footer {
        display: none;
    }

    header {
        flex: 0 40 px;
    }

    h1 {
        display: none;
    }

    section:nth-child(1) {
        display: none;
    }
}