section {
    flex: 1;
}

.card-pair {
    display: flex;
    flex-direction: row;
}

@media (max-width: 880px) {
    .card-pair {
        flex-direction: column;
    }
}

@media (max-height: 500px) {
    footer {
        display: none;
    }

    header {
        flex: 20 px;
    }

    h1 {
        display: none;
    }
}