section {
    flex: 1;
}

.card-pair {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-pair .card {
    flex: 1;
    margin: 10px;
}

@media (max-width: 880px) {
    .card-pair {
        flex-direction: column;
    }
}

.heart-svg {
    width: 24px;
    height: 24px;
    fill: red;
    stroke: white;
    stroke-width: 1px;
}

.empty-heart-svg {
    width: 24px;
    height: 24px;
    fill: hsl(208, 7, 46);
    stroke: black;
    stroke-width: 2px;
}