section {
    flex: 1;
}

.card-pair {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-pair .card {
    flex: 1;
    margin: 10px;
}

@media (max-width: 880px) {
    .card-pair {
        flex-direction: column;
    }
}