main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

section {
    flex: 1;
}

@media (max-height: 500px) {
    footer {
        display: none;
    }

    header {
        flex: 20 px;
    }

    h1 {
        display: none;
    }
}