main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

section {
    flex: 1;
}

section:nth-child(1) {
    flex: 1;
    margin: 0;
    text-align: center;
}

section:nth-child(3) {
    flex: 6;
}

.card-pair {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

@media (max-width: 880px) {
    .card-pair {
        flex-direction: column;
    }
}

@media (max-height: 500px) {
    footer {
        display: none;
    }

    header {
        flex: 20 px;
    }

    h1 {
        display: none;
    }
}