body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 80px;
    background-color: hsl(90, 51%, 34%);
    text-align: center;
    font-size: 18px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    justify-content: center;
    gap: 0px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

ul li {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1;
    border-right: 1px solid white;
}

main {
    flex: 1 calc(100vh - 110px);
    top: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(208, 7, 46);
    color: white;
}

footer {
    flex: 0 30px;
    background-color: hsl(90, 51%, 34%);
    color: white;
    text-align: center;
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section {
    flex: 1;
    background-color: hsl(208, 7, 46);
    width: 100%;
    text-align: center;
    justify-content: center;
}

a:link,
a:visited {
    color: rgb(252, 166, 166);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

img {
    border-radius: 50%;
}